<div class="contact-info">
  <b>CONTACT</b>
  <p>
    김선중 / Seon Kim
    <br />
    moleskindiary@gmail.com
    <br />
    sustainablediary.com
  </p>
</div>

<div class="insta-photo">
  <b>INSTAGRAM</b>

  <div id="instagram-embed">
    <img alt="인스타그램 이미지입니다" id="instagram-img" />
  </div>
</div>
