<div class="logo">
  <!-- logo -->
  <a href="/" id="logo">Sustainable Diary</a>
  <!-- hamburger icon -->
  <a href="/">
    <i class="fas fa-bars" id="hamburger"></i>
  </a>
</div>

<nav class="nav-flex-container active">
  <a href="/">home</a>
  <a href="/profile">profile</a>
  <a href="/project">project</a>
  <a href="/gallery">gallery</a>
  <a href="/diary">diary</a>
  <a href="/visitor">visitor</a>
</nav>

<div id="pop-up">
  <div>
    <a href="/">home</a>
    <a href="/profile">profile</a>
    <a href="/project">project</a>
    <a href="/gallery">gallery</a>
    <a href="/diary">diary</a>
    <a href="/visitor">visitor</a>
  </div>
</div>
