<!DOCTYPE html>
<html lang="en">
<head>
    <% include ('partials/head') %>
    <link rel = "stylesheet" href = "../public/css/project.css">
    
    <!-- to use fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    
</head>

<body>
    <!-- header -->
    <header>
        <% include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <!-- main section -->
        <section class="main">
            <h1>프로젝트</h1>
            <p>프로젝트 내용이 들어갈 공간입니다.</p>
        </section>

    </main>
 
    <!-- footer -->
    <footer>
        <% include ('partials/footer') %>
    </footer>

    <i class="fas fa-arrow-circle-up fa-2x" id="home"></i>

    <script src = '../public/js/common.js'></script>
</body>
</html>