@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

/* css initialize */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* font face */
a {
  color: white;
}

/* container : 전체 배경색상 지정 */
.container {
  background-color: white;
}

div .contents {
  margin: 1.5em auto;
  max-width: 90%;
}

/* header - main logo */
.logo {
  background-color: white;
  color: #8e44ad;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  padding: 0.5em;
  /* font-family : Oswald; */
}

.logo a {
  color: #8e44ad;
  text-decoration: none;
}

/* header - hamburger */
#hamburger {
  display: none;
  float: right;
  line-height: 38px;
  position: relative;
  right: 10px;
}

#pop-up {
  display: none;
  background-color: #ffffff;
  color: white;
  position: absolute;
  right: 0;
  width: 33vw;
}

#pop-up div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#pop-up a {
  background-color: #8e44ad;
  padding: 1.2em;
  text-decoration: none;
}

#pop-up a:hover {
  background-color: white;
  color: #8e44ad;
}

/* header - navigation */
.nav-flex-container {
  display: flex;
  /* flex-direction : row; */
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  text-align: center;
  padding: 0;
  background-color: #8e44ad;
}

nav > a {
  padding: 0.2rem;
  margin: 0.5rem 1.5rem;

  /* font settings */
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}

nav a:visited {
  color: white;
  font-style: normal;
}

nav a:hover {
  background-color: white;
  color: #9b59b6;
}

a .active:visited {
  color: white;
}

.active {
  font-weight: 900;
  /* position:  */
}

.active:visited {
  color: #f1c40f;
}

/* contents */
div .contents {
  margin: 0 auto;
}

/* footer */
footer {
  color: #9b59b6;
  background-color: #ffffff;
  text-align: center;
  padding-top: 1rem;
  padding: 2rem;
  position: static;
  margin: auto;
  left: 0;
  bottom: 0;
  border-top: 1px solid #9b59b6;
  width: 100%;
}

footer #since {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}

#home {
  color: white;
  text-shadow: 2px 4px 3px black;
  display: none;
  position: fixed;
  right: 15px;
  bottom: 25px;
}

.appear {
  display: block !important;
}

/* smartphone ~ 690 */
@media only screen and (max-width: 690px) {
  #hamburger {
    display: block;
  }

  .logo {
    background-color: #8e44ad;
    padding: 1em;
    font-size: 2em;
  }

  .logo a {
    color: white;
  }

  nav {
    display: none !important;
  }

  div .contents {
    max-width: 100%;
    font-size: 11px;
  }

  footer {
    text-align: center;
    padding: 1.2em;
    font-size: 1em;
  }

  #since {
    display: none;
  }
}

/* tablet + desktop () ~  */
@media only screen and (min-width: 691px) {
  #pop-up {
    display: none !important;
  }
}

/* //only desktop 760px ~
@media only screen and (min-width: 760px){
    div .contents{
        max-width: 100%;
    }
} */
