div .contents{
    margin : 1em auto;
    max-width : 50%;
    font-size : 1.5em;
}

#item1 {
    color : black;
    padding : 2em 0;
}

#item2 {
    color : black;
    padding: 1px;
}

#img-wrapper{
    text-align : center;
}

#img-wrapper img{
    border : 1px black solid ;
    border-radius : 40%;
    
    padding : 0.1em;
    height : 300px;
}

#profile-letter{
    font-weight: bold;
    color : #2c3e50;
}

label {
    font-size : 1em;
    line-height: 1em;
}

input, textarea{
    width: 100%;
    padding : 10px;
    margin : 5px 0 20px 0;
    box-sizing: border-box;
    border : 1px solid #ccc;
    border-radius : 4px;
}

input[type=submit] {
    width: 100%;
    padding: 10px 20px;
    background-color : #8e44ad;
    color: white;
    font-size : 1em;
}


@media only screen and (max-width : 900px){
    div .contents{
        margin: 0 auto;
        max-width: 70%;
    }
}